// Variables
$gray-light: #CFCFCF;
$dark-gray: #575757;
$jet-black: #0d0d0d;
$darkest-black: #080808;
$slate-gray: #242424;
$blue: #276AEB;
$red: #FF776F;
$pastel-pink: #FFCCC0;

$font-small: 16px;
$font-medium: 18px;
$font-large: 20px;
$font-heading: 32px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $gray-light;
}

body {
  background-color: rgb(12, 12, 12);
  font-family: Arial;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}

// Header
header {
  border-bottom: 1px solid $slate-gray;
  padding: 40px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  img {
    width: 201.413px;
    height: 21.903px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: $font-small;
  justify-content: end;
  width: 100%;

  a {
    color: #a7a7a7;
    font-size: 14px;
    transition: .3s ease;

    &:hover {
      color: #CFCFCF;

    }
  }
}