/* [project]/app/main/style.module.scss.module.css [app-client] (css) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #cfcfcf;
}

body {
  background-color: #0c0c0c;
  font-family: Arial;
}

.style-module-scss-module__b0EPXq__container {
  max-width: 1100px;
  margin: 0 auto;
}

.style-module-scss-module__b0EPXq__loader {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.style-module-scss-module__b0EPXq__loader span {
  margin-bottom: 50px;
}

.style-module-scss-module__b0EPXq__loader a {
  background-color: #1e1e1e;
  color: #cfcfcf;
  padding: 15px 20px;
  border-radius: 11px;
  font-size: 16px;
}

.style-module-scss-module__b0EPXq__loader > * {
  color: #fff;
}

header {
  border-bottom: 1px solid #242424;
  padding: 40px 0;
}

.style-module-scss-module__b0EPXq__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style-module-scss-module__b0EPXq__logo img {
  width: 201.413px;
  height: 21.903px;
}

.style-module-scss-module__b0EPXq__navigation {
  display: flex;
  align-items: center;
  column-gap: 40px;
  font-size: 16px;
}

.style-module-scss-module__b0EPXq__navigation a {
  color: #575757;
}

.style-module-scss-module__b0EPXq__intro_section_container {
  display: flex;
  align-items: center;
}

.style-module-scss-module__b0EPXq__intro_section_container .style-module-scss-module__b0EPXq__main-image {
  filter: drop-shadow(2px 4px 36px #ffffff2b);
}

.style-module-scss-module__b0EPXq__intro-section h1 {
  font-size: 32px;
  color: #cfcfcf;
  margin-bottom: 25px;
}

.style-module-scss-module__b0EPXq__intro-section span {
  color: #575757;
}

.style-module-scss-module__b0EPXq__intro-section .style-module-scss-module__b0EPXq__main-image {
  width: 231px;
  height: 254px;
}

.style-module-scss-module__b0EPXq__form-section {
  display: flex;
  color: #cfcfcf;
}

.style-module-scss-module__b0EPXq__form-section .style-module-scss-module__b0EPXq__gender {
  margin-right: 44px;
}

.style-module-scss-module__b0EPXq__form-section .style-module-scss-module__b0EPXq__gender-label {
  margin-bottom: 22px;
  display: block;
  font-weight: 700;
}

.style-module-scss-module__b0EPXq__form-section :where(.style-module-scss-module__b0EPXq__gender-options, .style-module-scss-module__b0EPXq__search-gender-options) input {
  color: #cfcfcf;
  width: 47px;
  height: 47px;
  border: 1px solid #242424;
  border-radius: 11px;
  margin-right: 10px;
  background-color: #0d0d0d;
}

.style-module-scss-module__b0EPXq__search-button {
  padding: 14px 34px;
  background-color: #0d0d0d;
  border-radius: 11px;
  border: none;
  background-color: #1e1e1e;
  color: #cfcfcf;
  margin-top: 50px;
  font-weight: 700;
}

.style-module-scss-module__b0EPXq__border {
  transition: all .3s;
  border: 1px solid #276aeb !important;
}

.style-module-scss-module__b0EPXq__navigation a.style-module-scss-module__b0EPXq__active {
  font-weight: bold;
  color: #cfcfcf;
}

.style-module-scss-module__b0EPXq__heading {
  padding-top: 108px;
}

.style-module-scss-module__b0EPXq__heading h1 {
  max-width: 1014px;
  font-size: 18px;
  color: #cfcfcf;
  font-family: Inter, monospace;
  font-weight: 400;
}

.style-module-scss-module__b0EPXq__chat {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 180px;
}

.style-module-scss-module__b0EPXq__chat .style-module-scss-module__b0EPXq__message {
  margin-top: 30px;
}

.style-module-scss-module__b0EPXq__chat .style-module-scss-module__b0EPXq__message > span:first-child {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  color: #ffe5a3;
}

.style-module-scss-module__b0EPXq__chat-container {
  color: #cfcfcf;
}

.style-module-scss-module__b0EPXq__submit-button {
  padding: 12px 25px;
  background-color: #1e1e1e;
  height: 40px;
  color: #fff;
  outline: none;
  border: 1px solid #242424;
  border-radius: 11px;
}

.style-module-scss-module__b0EPXq__text-input {
  border-radius: 11px;
  border: 1px solid #2d2d2d;
  background-color: #111;
  padding: 12px 25px;
  color: #fff;
  outline: none;
  transition: all 1s;
  height: 40px;
  width: 40%;
}


/*# sourceMappingURL=app_main_style_module_scss_module_6fb863.css.map*/
